@{
    ViewData["Title"] = "Giới thiệu";
}
<br />
<br />
<div id="aboutform">
    <div class="row">
        <div class="card">
            <img src="~/images/logoaboutus.jpg" style="width: 100%;" />
        </div>
    </div>
    <br />
    <h2 style="text-align:center">Đôi điều về chúng tôi</h2>
    <div class="row">
        <p style="text-align:justify">
            Laptop 123 chuyên cung cấp các sản phẩm laptop chính hãng nhập khẩu US, UK, Japan với hình thức đẹp nhất và chất lượng nhất.

            Sau bao năm cung cấp sản phẩm cho khách hàng chúng tôi hiểu rằng con đường phát triển vững chắc nhất cho đến thời điểm hiện tại là mang đến cho khách hàng những sản phẩm chất lượng ( đặc biệt là được chọn lọc một cách kỹ càng) giá thành phù hợp, bên cạnh đó là chế độ hậu mãi và dịch vụ chăm sóc khách hàng sau bán hàng một cách tốt nhất. Chúng tôi luôn đặt ” UY TÍN ” lên hàng đầu trên mọi mặt hàng kinh doanh tại Laptop 123.

            Với trách nhiệm bảo hành và quyền lợi của Khách hàng, chúng tôi luôn cam kết tát cả các sản phẩm bán ra đều đạt chất lượng tiêu chuẩn ,bản hành dài hạn , 1 đổi 1 miễn phí trong 10 ngày đầu tiên không cần lý do, hỗ trợ khách hàng với những gói bảo hàng 6 tháng đến 1 năm tùy theo yêu cầu of khách hàng. Vệ sinh, hỗ trợ phần mềm laptop trọn đời.
        </p>
        <div class="column">
            <div class="card">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1165.260540992413!2d106.6669191900047!3d10.776525280657173!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752edb0902f141%3A0x9bdc435c85c0033e!2zODI4IFPGsCBW4bqhbiBI4bqhbmgsIFBoxrDhu51uZyAxMiwgUXXhuq1uIDEwLCBI4buTIENow60gTWluaCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1591425758439!5m2!1sen!2s" width="1100" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>
    <br />
</div>

