@using PCWeb.Models.Root
@{
    ViewData["Title"] = "CPU";
}
@model List<CPU>
<br />
<h3>Số lượng sản phẩm: @*@Model.Count*@</h3>
<p><a class="btn btn-primary" asp-controller="CPU" asp-action="Add">Thêm</a></p>
<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên Linh kiện</th>
            <th>Số nhân</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            int i = 1;
            @foreach (var item in Model)
            {
                <tr>
                    <td>@(i++)</td>
                    <td>@item.PCComponent.PCComponentName</td>
                    <td>@item.CPUCore</td>
                    <td>
                        <a class="btn btn-outline-danger" asp-area="Admin" asp-controller="Component" asp-action="Delete" asp-route-id="@item.CPUId">Xóa</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
