@{
    ViewData["Title"] = "Linh kiện";
}
<h2 class="text-center">Linh kiện</h2>
<div class="row">
    <table class="table">
        <tr>
            <th class="border-right">
                <a class="btn btn-info button-component float-right" asp-action="Index" asp-controller="CPU" asp-area="Admin">CPU</a>
            </th>
            <td>
                <a class="btn btn-info button-component" asp-action="Index" asp-controller="CPU" asp-area="Admin">Mainboard</a>
            </td>
        </tr>
        <tr>
            <th class="border-right">
                <a class="btn btn-info float-right button-component" asp-action="Index" asp-controller="CPU" asp-area="Admin">Ram</a>
            </th>
            <td>
                <a class="btn btn-info button-component" asp-action="Index" asp-controller="CPU" asp-area="Admin">Card đồ họa</a>
            </td>
        </tr>
        <tr>
            <th class="border-right">
                <a class="btn btn-info float-right button-component" asp-action="Index" asp-controller="CPU" asp-area="Admin">Ổ lưu trữ</a>
            </th>
            <td>
                <a class="btn btn-info button-component" asp-action="Index" asp-controller="CPU" asp-area="Admin">Nguồn</a>
            </td>
        </tr>
        <tr>
            <th class="border-right">
                <a class="btn btn-info float-right button-component" asp-action="Index" asp-controller="CPU" asp-area="Admin">Tản nhiệt</a>
            </th>
            <td>
                <a class="btn btn-info button-component" asp-action="Index" asp-controller="CPU" asp-area="Admin">Case máy tính</a>
            </td>
        </tr>
    </table>
</div>